<h2>Per capitale</h2>
<hr>

<div class="row">
  <div class="col">
      <!-- Searchbox -->
      <shared-searchbox
      (inputValue)="searchByCapital($event)"
      placeholder='Buscar per capitale'
      [initialValue]="initialValue"
      ></shared-searchbox>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
    <ul>
      <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
      <countries-table [countries]="countries" ></countries-table>
    </ul>
  </div>
</div>
